<!-- Simple Header Component -->
<header class="header">
  <div class="header-container">
    <a href="/" class="logo">
      <img src="/assets/logo.svg" alt="Free Image Tools" class="logo-img">
      <span class="logo-text">Free Image Tools</span>
    </a>
    
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-link" data-page="index">Home</a>
        </li>
        <li class="nav-item">
          <a href="/tools/crop/" class="nav-link" data-page="crop">Crop</a>
        </li>
        <li class="nav-item">
          <a href="/tools/merge/" class="nav-link" data-page="merge">Merge</a>
        </li>
        <li class="nav-item">
          <a href="/tools/remove-object/" class="nav-link" data-page="remove-object">Remove</a>
        </li>
        <li class="nav-item">
          <a href="/tools/black-image/" class="nav-link" data-page="black-image">Black</a>
        </li>
        <li class="nav-item">
          <a href="/tools/compress/" class="nav-link" data-page="compress">Compress</a>
        </li>
        <li class="nav-item">
          <a href="/tools/resize/" class="nav-link" data-page="resize">Resize</a>
        </li>
      </ul>
    </nav>
    
    <div class="header-actions">
      <button class="lang-toggle" id="langToggle" title="Change Language">
        🌐
      </button>
      <button class="mobile-menu-toggle" id="mobileMenuToggle">
        <span class="hamburger"></span>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
      </button>
    </div>
  </div>
</header>